@{
    ViewBag.Title = "Home Page";
}

<div class="homeStyle">
    <div class="softwareSection">
        <div class="head">Portale SDM</div>
        <div class="body">
            @if (Session["role"].ToString() == "smartJob")
            {
                <a class="cardImage" style="cursor: not-allowed;" title="Caf">
                    <img alt="Caf" src="~/Content/Icone/pulsanti/caf (inattivo).svg" />
                </a>
                <a class="cardImage" style="cursor: not-allowed;" title="Infocert">
                    <img alt="Infocert" src="~/Content/Icone/pulsanti/infocert (inattivo).svg" />
                </a>
                <a class="cardImage" style="cursor: not-allowed;" title="Utenze">
                    <img alt="Utenze" src="~/Content/Icone/pulsanti/utenze (inattivo).svg" />
                </a>
                <a class="cardImage" style="cursor: not-allowed;" title="Credito">
                    <img alt="Credito" src="~/Content/Icone/pulsanti/credito (inattivo).svg" />
                </a>
                <a class="cardImage" title="Sindacato" onclick="@("window.location.href='" + @Url.Action("Index", "Sindacato") + "'")">
                    <img alt="Sindacato" src="~/Content/Icone/pulsanti/sindacato.svg" />
                </a>
                <a class="cardImage" style="cursor: not-allowed;" title="Patronato">
                    <img alt="Patronato" src="~/Content/Icone/pulsanti/patronato (inattivo).svg" />
                </a>
                <a class="cardImage" title="Pratiche auto e noleggio a breve termine" onclick="@("window.location.href='" + @Url.Action("Index", "PraticheAuto") + "'")">
                    <img alt="Pratiche auto e noleggio a breve termine" src="~/Content/Icone/pulsanti/pratiche auto.svg" />
                </a>
                <a class="cardImage" title="Eventi" onclick="@("window.location.href='" + @Url.Action("Index", "Eventi") + "'")">
                    <img alt="Eventi" src="~/Content/Icone/pulsanti/eventi.svg" />
                </a>
                <a class="cardImage" style="cursor: not-allowed;" title="Studio professionale associato SDM & Partner">
                    <img alt="Studio professionale associato SDM & Partner" src="~/Content/Icone/pulsanti/studio professionale associato (inattivo).svg" />
                </a>
                <a class="cardImage" title="Servizi di pagamento SDM pay">
                    <img alt="Servizi di pagamento SDM pay" src="~/Content/Icone/pulsanti/sdm pay (inattivo).svg" />
                </a>
                <a class="cardImage" title="Visure e certificati">
                    <img alt="Visure e certificati" src="~/Content/Icone/pulsanti/visure e certificati (inattivo).svg" />
                </a>
                <a class="cardImage" title="Finanza agevolata">
                    <img alt="Finanza agevolata" src="~/Content/Icone/pulsanti/finanza agevolata (inattivo).svg" />
                </a>
                <a class="cardImage" title="Scuola ed ente di formazione">
                    <img alt="Scuola ed ente di formazione" src="~/Content/Icone/pulsanti/scuola ed ente di formazione (inattivo).svg" />
                </a>
                @*<a class="cardImage" target="_blank" title="Scuola ed ente di formazione" href="https://smartschool.scuolasemplice.it/login">
                <img alt="Scuola ed ente di formazione" src="~/Content/Icone/pulsanti/scuola ed ente di formazione.svg" />
            </a>*@
            }
            else if (Session["role"].ToString() == "adminSegreteria")
            {
                <a class="cardImage" target="_blank" title="Caf" href="http://www.ilmiocaf.it/#">
                    <img alt="Caf" src="~/Content/Icone/pulsanti/caf.svg" />
                </a>
                <a class="cardImage" target="_blank" title="Infocert" href="https://webid.infocert.it/webid/webid/index.html">
                    <img alt="Infocert" src="~/Content/Icone/pulsanti/infocert.svg" />
                </a>
                <a class="cardImage" target="_blank" title="Utenze" href="https://partners.sosutenzeservizi.it/">
                    <img alt="Utenze" src="~/Content/Icone/pulsanti/utenze.svg" />
                </a>
                <a class="cardImage" title="Credito" style="cursor: not-allowed;">
                    <img alt="Credito" src="~/Content/Icone/pulsanti/credito (inattivo).svg" />
                </a>
                <a class="cardImage" title="Agenzia" style="cursor: not-allowed;">
                    <img alt="Agenzia" src="~/Content/Icone/pulsanti/agenzia (inattivo).svg" />
                </a>
                <a class="cardImage" title="Sindacato" onclick="@("window.location.href='" + @Url.Action("Index", "Sindacato") + "'")">
                    <img alt="Sindacato" src="~/Content/Icone/pulsanti/sindacato.svg" />
                </a>
                <a class="cardImage" title="Patronato" style="cursor: not-allowed;">
                    <img alt="Patronato" src="~/Content/Icone/pulsanti/patronato (inattivo).svg" />
                </a>
                <a class="cardImage" title="Pratiche auto e noleggio a breve termine" style="cursor: not-allowed;">
                    <img alt="Pratiche auto e noleggio a breve termine" src="~/Content/Icone/pulsanti/pratiche auto (inattivo).svg" />
                </a>
                <a class="cardImage" title="Eventi" style="cursor: not-allowed;">
                    <img alt="Eventi" src="~/Content/Icone/pulsanti/eventi (inattivo).svg" />
                </a>
                <a class="cardImage" title="Studio professionale associato SDM & Partner" style="cursor: not-allowed;">
                    <img alt="Studio professionale associato SDM & Partner" src="~/Content/Icone/pulsanti/studio professionale associato (inattivo).svg" />
                </a>
                <a class="cardImage" title="Servizi di pagamento SDM pay">
                    <img alt="Servizi di pagamento SDM pay" src="~/Content/Icone/pulsanti/sdm pay (inattivo).svg" />
                </a>
                <a class="cardImage" title="Visure e certificati">
                    <img alt="Visure e certificati" src="~/Content/Icone/pulsanti/visure e certificati (inattivo).svg" />
                </a>
                <a class="cardImage" title="Finanza agevolata">
                    <img alt="Finanza agevolata" src="~/Content/Icone/pulsanti/finanza agevolata (inattivo).svg" />
                </a>
                <a class="cardImage" title="Scuola ed ente di formazione">
                    <img alt="Scuola ed ente di formazione" src="~/Content/Icone/pulsanti/scuola ed ente di formazione (inattivo).svg" />
                </a>
            }
            else if (Session["role"].ToString() == "adminSupporto" || Session["role"].ToString() == "adminSupportoNoSmartJob")
            {
                <a class="cardImage" target="_blank" title="Caf" href="http://www.ilmiocaf.it/#">
                    <img alt="Caf" src="~/Content/Icone/pulsanti/caf.svg" />
                </a>
                <a class="cardImage" target="_blank" title="Infocert" href="https://webid.infocert.it/webid/webid/index.html">
                    <img alt="Infocert" src="~/Content/Icone/pulsanti/infocert.svg" />
                </a>
                <a class="cardImage" target="_blank" title="Utenze" href="https://partners.sosutenzeservizi.it/">
                    <img alt="Utenze" src="~/Content/Icone/pulsanti/utenze.svg" />
                </a>
                <a class="cardImage" title="Credito" style="cursor: not-allowed;">
                    <img alt="Credito" src="~/Content/Icone/pulsanti/credito (inattivo).svg" />
                </a>
                <a class="cardImage" title="Agenzia" style="cursor: not-allowed;">
                    <img alt="Agenzia" src="~/Content/Icone/pulsanti/agenzia (inattivo).svg" />
                </a>
                <a class="cardImage" title="Sindacato" style="cursor: not-allowed;">
                    <img alt="Sindacato" src="~/Content/Icone/pulsanti/sindacato (inattivo).svg" />
                </a>
                <a class="cardImage" onclick="@("window.location.href='" + @Url.Action("Index", "Patronato") + "'")" title="Patronato">
                    <img alt="Patronato" src="~/Content/Icone/pulsanti/patronato.svg" />
                </a>
                <a class="cardImage" title="Pratiche auto e noleggio a breve termine" style="cursor: not-allowed;">
                    <img alt="Pratiche auto e noleggio a breve termine" src="~/Content/Icone/pulsanti/pratiche auto (inattivo).svg" />
                </a>
                <a class="cardImage" title="Eventi" style="cursor: not-allowed;">
                    <img alt="Eventi" src="~/Content/Icone/pulsanti/eventi (inattivo).svg" />
                </a>
                <a class="cardImage" title="Studio professionale associato SDM & Partner" style="cursor: not-allowed;">
                    <img alt="Studio professionale associato SDM & Partner" src="~/Content/Icone/pulsanti/studio professionale associato (inattivo).svg" />
                </a>
                <a class="cardImage" title="Servizi di pagamento SDM pay" style="cursor: not-allowed;">
                    <img alt="Servizi di pagamento SDM pay" src="~/Content/Icone/pulsanti/sdm pay (inattivo).svg" />
                </a>
                <a class="cardImage" title="Visure e certificati" style="cursor: not-allowed;">
                    <img alt="Visure e certificati" src="~/Content/Icone/pulsanti/visure e certificati (inattivo).svg" />
                </a>
                <a class="cardImage" title="Finanza agevolata" style="cursor: not-allowed;">
                    <img alt="Finanza agevolata" src="~/Content/Icone/pulsanti/finanza agevolata (inattivo).svg" />
                </a>
                <a class="cardImage" title="Scuola ed ente di formazione" style="cursor: not-allowed;">
                    <img alt="Scuola ed ente di formazione" src="~/Content/Icone/pulsanti/scuola ed ente di formazione (inattivo).svg" />
                </a>
            }
            else if (Session["role"].ToString() == "adminCasoria")
            {
                <a class="cardImage" target="_blank" title="Caf" href="http://www.ilmiocaf.it/#">
                    <img alt="Caf" src="~/Content/Icone/pulsanti/caf.svg" />
                </a>
                <a class="cardImage" target="_blank" title="Infocert" href="https://webid.infocert.it/webid/webid/index.html">
                    <img alt="Infocert" src="~/Content/Icone/pulsanti/infocert.svg" />
                </a>
                <a class="cardImage" target="_blank" title="Utenze" href="https://partners.sosutenzeservizi.it/">
                    <img alt="Utenze" src="~/Content/Icone/pulsanti/utenze.svg" />
                </a>
                <a class="cardImage" title="Credito" style="cursor: not-allowed;">
                    <img alt="Credito" src="~/Content/Icone/pulsanti/credito (inattivo).svg" />
                </a>
                <a class="cardImage" title="Agenzia" style="cursor: not-allowed;">
                    <img alt="Agenzia" src="~/Content/Icone/pulsanti/agenzia (inattivo).svg" />
                </a>
                <a class="cardImage" title="Sindacato" style="cursor: not-allowed;">
                    <img alt="Sindacato" src="~/Content/Icone/pulsanti/sindacato (inattivo).svg" />
                </a>
                <a class="cardImage" title="Patronato" style="cursor: not-allowed;">
                    <img alt="Patronato" src="~/Content/Icone/pulsanti/patronato (inattivo).svg" />
                </a>
                <a class="cardImage" title="Pratiche auto e noleggio a breve termine" onclick="@("window.location.href='" + @Url.Action("Index", "PraticheAuto") + "'")">
                    <img alt="Pratiche auto e noleggio a breve termine" src="~/Content/Icone/pulsanti/pratiche auto.svg" />
                </a>
                <a class="cardImage" title="Eventi" style="cursor: not-allowed;">
                    <img alt="Eventi" src="~/Content/Icone/pulsanti/eventi (inattivo).svg" />
                </a>
                <a class="cardImage" title="Studio professionale associato SDM & Partner" onclick="@("window.location.href='" + @Url.Action("Index", "StudioProfessionale") + "'")">
                    <img alt="Studio professionale associato SDM & Partner" src="~/Content/Icone/pulsanti/studio professionale associato.svg" />
                </a>
                <a class="cardImage" title="Servizi di pagamento SDM pay" style="cursor: not-allowed;">
                    <img alt="Servizi di pagamento SDM pay" src="~/Content/Icone/pulsanti/sdm pay (inattivo).svg" />
                </a>
                <a class="cardImage" title="Visure e certificati" style="cursor: not-allowed;">
                    <img alt="Visure e certificati" src="~/Content/Icone/pulsanti/visure e certificati (inattivo).svg" />
                </a>
                <a class="cardImage" title="Finanza agevolata" style="cursor: not-allowed;">
                    <img alt="Finanza agevolata" src="~/Content/Icone/pulsanti/finanza agevolata (inattivo).svg" />
                </a>
                <a class="cardImage" title="Scuola ed ente di formazione" style="cursor: not-allowed;">
                    <img alt="Scuola ed ente di formazione" src="~/Content/Icone/pulsanti/scuola ed ente di formazione (inattivo).svg" />
                </a>

            }
            else if (Session["role"].ToString() == "adminArchivioNoSmartJob")
            {
                <a class="cardImage" target="_blank" title="Caf" href="http://www.ilmiocaf.it/#">
                    <img alt="Caf" src="~/Content/Icone/pulsanti/caf.svg" />
                </a>
                <a class="cardImage" target="_blank" title="Infocert" href="https://webid.infocert.it/webid/webid/index.html">
                    <img alt="Infocert" src="~/Content/Icone/pulsanti/infocert.svg" />
                </a>
                <a class="cardImage" target="_blank" title="Utenze" href="https://partners.sosutenzeservizi.it/">
                    <img alt="Utenze" src="~/Content/Icone/pulsanti/utenze.svg" />
                </a>
                <a class="cardImage" title="Credito" style="cursor: not-allowed;">
                    <img alt="Credito" src="~/Content/Icone/pulsanti/credito (inattivo).svg" />
                </a>
                <a class="cardImage" title="Agenzia" style="cursor: not-allowed;">
                    <img alt="Agenzia" src="~/Content/Icone/pulsanti/agenzia (inattivo).svg" />
                </a>
                <a class="cardImage" title="Sindacato" style="cursor: not-allowed;">
                    <img alt="Sindacato" src="~/Content/Icone/pulsanti/sindacato (inattivo).svg" />
                </a>
                <a class="cardImage" onclick="@("window.location.href='" + @Url.Action("Index", "Patronato") + "'")" title="Patronato">
                    <img alt="Patronato" src="~/Content/Icone/pulsanti/patronato.svg" />
                </a>
                <a class="cardImage" title="Pratiche auto e noleggio a breve termine" style="cursor: not-allowed;">
                    <img alt="Pratiche auto e noleggio a breve termine" src="~/Content/Icone/pulsanti/pratiche auto (inattivo).svg" />
                </a>
                <a class="cardImage" title="Eventi" style="cursor: not-allowed;">
                    <img alt="Eventi" src="~/Content/Icone/pulsanti/eventi (inattivo).svg" />
                </a>
                <a class="cardImage" title="Studio professionale associato SDM & Partner" style="cursor: not-allowed;">
                    <img alt="Studio professionale associato SDM & Partner" src="~/Content/Icone/pulsanti/studio professionale associato (inattivo).svg" />
                </a>
                <a class="cardImage" title="Servizi di pagamento SDM pay" style="cursor: not-allowed;">
                    <img alt="Servizi di pagamento SDM pay" src="~/Content/Icone/pulsanti/sdm pay (inattivo).svg" />
                </a>
                <a class="cardImage" title="Visure e certificati" style="cursor: not-allowed;">
                    <img alt="Visure e certificati" src="~/Content/Icone/pulsanti/visure e certificati (inattivo).svg" />
                </a>
                <a class="cardImage" title="Finanza agevolata" style="cursor: not-allowed;">
                    <img alt="Finanza agevolata" src="~/Content/Icone/pulsanti/finanza agevolata (inattivo).svg" />
                </a>
                <a class="cardImage" title="Scuola ed ente di formazione" style="cursor: not-allowed;">
                    <img alt="Scuola ed ente di formazione" src="~/Content/Icone/pulsanti/scuola ed ente di formazione (inattivo).svg" />
                </a>
            }
            else if (Session["role"].ToString() == "adminStudioProfessionale")
            {
                <a class="cardImage" target="_blank" title="Caf" href="http://www.ilmiocaf.it/#">
                    <img alt="Caf" src="~/Content/Icone/pulsanti/caf.svg" />
                </a>
                <a class="cardImage" target="_blank" title="Infocert" href="https://webid.infocert.it/webid/webid/index.html">
                    <img alt="Infocert" src="~/Content/Icone/pulsanti/infocert.svg" />
                </a>
                <a class="cardImage" target="_blank" title="Utenze" href="https://partners.sosutenzeservizi.it/">
                    <img alt="Utenze" src="~/Content/Icone/pulsanti/utenze.svg" />
                </a>
                <a class="cardImage" title="Credito" style="cursor: not-allowed;">
                    <img alt="Credito" src="~/Content/Icone/pulsanti/credito (inattivo).svg" />
                </a>
                <a class="cardImage" title="Agenzia" style="cursor: not-allowed;">
                    <img alt="Agenzia" src="~/Content/Icone/pulsanti/agenzia (inattivo).svg" />
                </a>
                <a class="cardImage" title="Sindacato" style="cursor: not-allowed;">
                    <img alt="Sindacato" src="~/Content/Icone/pulsanti/sindacato (inattivo).svg" />
                </a>
                <a class="cardImage" title="Patronato" style="cursor: not-allowed;">
                    <img alt="Patronato" src="~/Content/Icone/pulsanti/patronato (inattivo).svg" />
                </a>
                <a class="cardImage" title="Pratiche auto e noleggio a breve termine" style="cursor: not-allowed;">
                    <img alt="Pratiche auto e noleggio a breve termine" src="~/Content/Icone/pulsanti/pratiche auto (inattivo).svg" />
                </a>
                <a class="cardImage" title="Eventi" style="cursor: not-allowed;">
                    <img alt="Eventi" src="~/Content/Icone/pulsanti/eventi (inattivo).svg" />
                </a>
                <a class="cardImage" title="Studio professionale associato SDM & Partner" onclick="@("window.location.href='" + @Url.Action("Index", "StudioProfessionale") + "'")">
                    <img alt="Studio professionale associato SDM & Partner" src="~/Content/Icone/pulsanti/studio professionale associato.svg" />
                </a>
                <a class="cardImage" title="Servizi di pagamento SDM pay" style="cursor: not-allowed;">
                    <img alt="Servizi di pagamento SDM pay" src="~/Content/Icone/pulsanti/sdm pay (inattivo).svg" />
                </a>
                <a class="cardImage" title="Visure e certificati" style="cursor: not-allowed;">
                    <img alt="Visure e certificati" src="~/Content/Icone/pulsanti/visure e certificati (inattivo).svg" />
                </a>
                <a class="cardImage" title="Finanza agevolata" style="cursor: not-allowed;">
                    <img alt="Finanza agevolata" src="~/Content/Icone/pulsanti/finanza agevolata (inattivo).svg" />
                </a>
                <a class="cardImage" title="Scuola ed ente di formazione" style="cursor: not-allowed;">
                    <img alt="Scuola ed ente di formazione" src="~/Content/Icone/pulsanti/scuola ed ente di formazione (inattivo).svg" />
                </a>
            }
            else
            {
                <a class="cardImage" target="_blank" title="Caf" href="http://www.ilmiocaf.it/#">
                    <img alt="Caf" src="~/Content/Icone/pulsanti/caf.svg" />
                </a>
                <a class="cardImage" target="_blank" title="Infocert" href="https://webid.infocert.it/webid/webid/index.html">
                    <img alt="Infocert" src="~/Content/Icone/pulsanti/infocert.svg" />
                </a>
                <a class="cardImage" target="_blank" title="Utenze" href="https://partners.sosutenzeservizi.it/">
                    <img alt="Utenze" src="~/Content/Icone/pulsanti/utenze.svg" />
                </a>
                <a class="cardImage" title="Credito" style="cursor: not-allowed;">
                    <img alt="Credito" src="~/Content/Icone/pulsanti/credito (inattivo).svg" />
                </a>
                <a class="cardImage" title="Agenzia" onclick="@("window.location.href='" + @Url.Action("Index", "Agenzia") + "'")">
                    <img alt="Agenzia" src="~/Content/Icone/pulsanti/agenzia.svg" />
                </a>
                <a class="cardImage" title="Sindacato" onclick="@("window.location.href='" + @Url.Action("Index", "Sindacato") + "'")">
                    <img alt="Sindacato" src="~/Content/Icone/pulsanti/sindacato.svg" />
                </a>
                <a class="cardImage" onclick="@("window.location.href='" + @Url.Action("Index", "Patronato") + "'")" title="Patronato">
                    <img alt="Patronato" src="~/Content/Icone/pulsanti/patronato.svg" />
                </a>
                <a class="cardImage" title="Pratiche auto e noleggio a breve termine" onclick="@("window.location.href='" + @Url.Action("Index", "PraticheAuto") + "'")">
                    <img alt="Pratiche auto e noleggio a breve termine" src="~/Content/Icone/pulsanti/pratiche auto.svg" />
                </a>
                <a class="cardImage" title="Eventi" onclick="@("window.location.href='" + @Url.Action("Index", "Eventi") + "'")">
                    <img alt="Eventi" src="~/Content/Icone/pulsanti/eventi.svg" />
                </a>
                <a class="cardImage" title="Studio professionale associato SDM & Partner" onclick="@("window.location.href='" + @Url.Action("Index", "StudioProfessionale") + "'")">
                    <img alt="Studio professionale associato SDM & Partner" src="~/Content/Icone/pulsanti/studio professionale associato.svg" />
                </a>
                <a class="cardImage" title="Servizi di pagamento SDM pay" style="cursor: not-allowed;">
                    <img alt="Servizi di pagamento SDM pay" src="~/Content/Icone/pulsanti/sdm pay (inattivo).svg" />
                </a>
                <a class="cardImage" title="Visure e certificati" onclick="@("window.location.href='" + @Url.Action("Index", "Visure") + "'")">
                    <img alt="Visure e certificati" src="~/Content/Icone/pulsanti/visure e certificati.svg" />
                </a>
                <a class="cardImage" title="Finanza agevolata" onclick="@("window.location.href='" + @Url.Action("Index", "Finanza") + "'")">
                    <img alt="Finanza agevolata" src="~/Content/Icone/pulsanti/finanza agevolata.svg" />
                </a>
                <a class="cardImage" title="Scuola ed ente di formazione" style="cursor: not-allowed;">
                    <img alt="Scuola ed ente di formazione" src="~/Content/Icone/pulsanti/scuola ed ente di formazione (inattivo).svg" />
                </a>
            }
        </div>
    </div>
    <div class="infoSection">
        <div class="head">Info e Contatti</div>
        <div class="body">
            <table id="homeTable" class="table table-striped table-sm" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th class="th-sm"></th>
                        <th class="th-sm">Riferimento</th>
                        <th class="th-sm">E-Mail</th>
                        <th class="th-sm">Telefono</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Responsabile Politiche Attive e Passive</td>
                        <td>De Micco Sabino</td>
                        <td>amministrazione@sdmservices.it</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Responsabile Utenze e Servizi</td>
                        <td>De Micco Fabiana</td>
                        <td>documenti@sdmservices.it</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Responsabile Sindacato</td>
                        <td>De Micco Fabio</td>
                        <td>segreteria@sdmservices.it</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Responsabile Caf e Patronato</td>
                        <td>De Micco Giusy</td>
                        <td>assistenza@sdmservices.it</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Responsabile Studio Legale</td>
                        <td>De Micco Sabino</td>
                        <td>documenti@sdmservices.it</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Responsabile Agenda</td>
                        <td>Vitacca Martina</td>
                        <td>info@sdmservices.it</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Responsabile Grafica e Comunicazione</td>
                        <td>Franco Marco</td>
                        <td>grafica@sdmservices.it</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#homeTable').DataTable({
            "scrollX": true,
            "searching": false,
            "info": false,
            "paginate": false,
            "order": []
        });
    });
</script>