@model List<SDM.Models.Attachment>

@{
    ViewBag.Title = "CaricaAllegati";
}

<script>
    checkFiles = () => {
        if ($("#files-input")[0].files.length > 4) {
            document.getElementById("errore-file").innerHTML = "Selezionare massimo 4 file per volta";
            document.getElementById("carica-button").classList.add("disabled");
            if (!document.getElementById("carica-button").hasAttribute("disabled")) {
                document.getElementById("carica-button").setAttribute("disabled");
            }
            return false;
        }
        else if ($("#files-input")[0].files.length < 1) {
            document.getElementById("errore-file").innerHTML = "Selezionare almeno un file per volta";
            document.getElementById("carica-button").classList.add("disabled");
            if (!document.getElementById("carica-button").hasAttribute("disabled")) {
                document.getElementById("carica-button").setAttribute("disabled");
            }
            return false;
        }
        else {
            document.getElementById("errore-file").innerHTML = "";
            document.getElementById("carica-button").classList.remove("disabled");
            if (document.getElementById("carica-button").hasAttribute("disabled")) {
                document.getElementById("carica-button").removeAttribute("disabled");
            }
            return true;
        }
    }
    function AjaxBegin() {
        $('#loading-div').show();

    }
    function AjaxComplete() {
        $("#loading-div").hide();
        var rows = document.querySelectorAll('[id^="cestino"]').length;
        if (rows < 3) {
            $("#salva").hide();
            $("#torna-indietro").show();
        }
        else {
            $("#salva").show();
            $("#torna-indietro").hide();
        }
    }

    $("document").ready(function() {
        var rows = document.querySelectorAll('[id^="cestino"]').length;
        if (rows < 3) {
            $("#salva").hide();
            $("#torna-indietro").show();
        }
        else {
            $("#salva").show();
            $("#torna-indietro").hide();
        } 
    })
</script>

<div class="patronatoStyle">
    <h2 class="titlePatronato">Carica allegati</h2>
    @{
        if (TempData["messaggioErroreInserimentoFile"] != null)
        {
            <div class="colFormError">
                <p>@TempData["messaggioErroreInserimentoFile"].ToString()</p>
            </div>
        }
    }

    @using (Ajax.BeginForm("UploadFile", "Patronato", null, new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = "table-allegati",
        AllowCache = false,
        OnBegin = "AjaxBegin",
        OnComplete = "AjaxComplete"
    }, new { id = "formid", enctype = "multipart/form-data", @class = "patronatoAddForm" }))
    {
        <ul class="menuDocumenti">
            <li>Mandato</li>
            <li>Documento e codice fiscale</li>
            <li>Documenti vari</li>
        </ul>
        <div class="rowForm rowFormFile">
            <div class="colForm">
                <div>
                    <input style="display: none" name="id" value="@Request.QueryString["idPratica"]" />
                    <input type="file" name="files" id="files-input" class="inputForm" multiple onchange="checkFiles()" />
                    <input type="submit" value="Carica" id="carica-button" class="loadFile disabled" disabled />
                    <div class="colFormError">
                        <p id="errore-file"></p>
                    </div>
                </div>
            </div>
        </div>
    }

    
    <div style="position: relative">
        <div id="loading-div" class="loaderShadow">
            <div class="loaderDiv">
                <div class="loader"></div>
            </div>
        </div>
        <div style="width: 100%; overflow-x: auto;" id="table-allegati">
            @Html.Partial("TableAllegati", Model)
        </div>
    </div>

    <div class="patronatoFooter">
        <div class="colFooterBack">
            @Html.ActionLink("Torna indietro", "Index", null, new { id = "torna-indietro" })
        </div>
        <div class="colFooterBack right">
            @Html.ActionLink("Salva", "Index", null, new { id = "salva" })
        </div>
    </div>
